/* glue: 0.9.4 hash: 54b297c890 */
        .i-inria,
.i-pps,
.i-liafa,
.i-app {
            background-image: url('icons.png');
            background-repeat: no-repeat;
        }
        
        .i-inria {
            background-position: 0 0;
            width: 200px;
            height: 73px;
        }
        
        .i-pps {
            background-position: 0 -73px;
            width: 100px;
            height: 79px;
        }
        
        .i-liafa {
            background-position: -100px -73px;
            width: 54px;
            height: 54px;
        }
        
        .i-app {
            background-position: -200px 0;
            width: 54px;
            height: 54px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .i-inria,
    .i-pps,
    .i-liafa,
    .i-app {
                background-image: url('icons.png');
                -webkit-background-size: 254px 152px;
                -moz-background-size: 254px 152px;
                background-size: 254px 152px;
            }
        }
        