* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* theme */
body         { background-color: #1E2F41 }
.q-container { background-color: #7FA39C }
.suggestions { background-color: #F0E9D6 }
/* /theme */

body {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    color: #111;
    overflow: hidden;
}

.q-container {
    text-align: left;
    display: inline-block;

    margin-top: 100px;
    width: 400px;

    border-radius: 15px;
}

.qinput {
    margin: 10px 15px;
    width: 370px;
    padding: 5px 10px;
    font-size: 2rem;

    border-color: transparent;
    outline: none;
    border-radius: 2px;
}

.suggestions {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.suggestions li {
    padding: 0 10px 0 15px;
    height: 56px;
}

.suggestions:empty {
    visibility: hidden;
}

.people {
    display: block;
    color: inherit;
    text-decoration: inherit;
    height: 100%;
}

.people .icon {
    max-width: 50px;
    max-height: 50px;
    margin: 3px 10px 0 0;
    vertical-align: middle;
}

.people .icon,
.people .info {
    display: inline-block;
}

.people .name,
.people .details {
    display: block;
}

.people .name {
    font-size: 1.1em;
}
.people .details {
    color: #666;
}

.people .info {
    margin-top: 0;
    vertical-align: top;
}

/* tests */

.suggestions .selected {
    background-color: #B8C6B9;
}
.suggestions .selected .details {
    color: #444;
}
