<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="language" content="en" />
        <title>P7PP - About</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link rel="icon" type="image/png" href="/static/icons/app.png" />
        <link rel="apple-touch-icon"      href="/static/icons/app.png" />
        <meta name="author"   content="Baptiste Fontaine" />
        <!--
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        -->
    </head>
    <body>
        <article class="ascii">
            {% filter markdown %}
# About P7PP

<b>P7PP</b>, codename `web-pp`, is a Web port of [`alfred-pp`][alfred-pp], a
workflow for [Alfred][alfred] on Mac OS X which allows one to quickly go on a
teacher's page using a few keystrokes. Data is fetched from the Web once, and
then stored locally.

[alfred-pp]: https://github.com/bfontaine/alfred-pp#readme
[alfred]: http://www.alfredapp.com/

## How to use

more content

## How it works

more content
            {% endfilter %}
        </article>

        <footer>
            <p><a href="/">&larr; Home</a>
               &copy;&nbsp;2014&nbsp;<a href="http://bfontaine.net"
                                        class="text" />Baptiste Fontaine</a></p>
        </footer>
        {% assets "js_articles" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>

