<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="language" content="en" />
        <title>P7PP - P7 Personal Pages</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link rel="icon" type="image/png" href="/static/icons/app.png" />
        <link rel="apple-touch-icon"      href="/static/icons/app.png" />
        <link rel="search" type="application/opensearchdescription+xml"
              title="P7PP" href="/static/opensearch.xml">
        <meta name="author"   content="Baptiste Fontaine" />

        <link rel="dns-prefetch" href="www.liafa.univ-paris-diderot.fr" />
        <link rel="dns-prefetch" href="www.pps.univ-paris-diderot.fr" />
        <link rel="dns-prefetch" href="http://gallium.inria.fr" />
    </head>
    <body class="app" ng-app="pp">

        <!-- for Facebook -->
        <img style="display:none" src="/static/icons/app.png" />

        <div class="q-container" ng-controller="suggsCtrl"
             w-mousetrap="{up:goUp, down:goDown, tab:complete,
                           enter:open,'shift+enter':openNewTab,
                           'mod+enter':openNewTab}">
            <input type="text" ng-model="query"
                class="qinput mousetrap" autocomplete="off" />
            <ul class="suggestions">
              <li class="people-container"
                  ng-repeat="p in (results=(people|filter:matches|limitTo:8))"
                  ng-mouseover="setCursor($index)"
                  ng-class="{selected: $index==cursor}">
                <a href="_{p.url}_" class="people" data-id="_{p.id}_">
                  <img ng-src="/static/icons/_{p.icon}_" class="icon" />
                  <p class="info"><b class="name">_{p.name}_</b>
                                  <span class="details">_{p.info}_</span>
                  </p>
                </a>
              </li>
            </ul>
        </div>

        <footer>
            <p><a href="/about">About</a>
               &copy;&nbsp;2014&nbsp;<a href="http://bfontaine.net"
                                        class="text" />Baptiste Fontaine</a></p>
        </footer>
        {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>

