<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="language" content="en" />
        <title>P7PP - P7 Personal Pages</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link rel="icon" type="image/png" href="/static/icons/app.png" />
        <link rel="apple-touch-icon"      href="/static/icons/app.png" />
        <meta name="author"   content="Baptiste Fontaine" />
        <!--
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        -->
    </head>
    <body class="app">
        <div class="q-container">
            <input type="text" id="q"
                class="qinput mousetrap" autocomplete="off" />
            <ul id="suggs" class="suggestions"></ul>
        </div>

        <footer>
            <p><a href="/about">About</a>
               &copy;&nbsp;2014&nbsp;<a href="http://bfontaine.net"
                                        class="text" />Baptiste Fontaine</a></p>
        </footer>
        {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>

