<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="language" content="en" />
        <title>P7PP - P7 Personal Pages</title>
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <link rel="icon" type="image/png" href="/static/icons/app.png" />
        <link rel="apple-touch-icon"      href="/static/icons/app.png" />
    </head>
    <body>
        <input type="text" id="q" autocomplete="off" />
        <ul id="suggs" class="suggestions"></ul>
        <script type="x-template" id="sgtpl">
        {% raw %}
        {{#people}}
        <li class="people-container">
        <a href="{{{url}}}" class="people" data-id="{{id}}">
        <img src="/static/icons/{{icon}}" class="icon" />
        <p class="info"><b class="name">{{name}}</b>
                  <span class="details">{{info}}</span></p>
        </a></li>
        {{/people}}
        {% endraw %}
        </script>
        {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>

